# ------------------------------
# Build directories
# ------------------------------
/build/
/build_Debug/   # artifacts
/build_Release/ # artifacts

# ------------------------------
# Binaries and archives
# ------------------------------
/bin/

# ------------------------------
# CMake files
# ------------------------------
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
Makefile
compile_commands.json

# ------------------------------
# VS Code-Related files
# ------------------------------
*.user
*.suo
*.vcxproj*
*.idea/
*.db
.vscode/browse.vc.db
.vscode/*.vc.db

# ------------------------------
# System files
# ------------------------------
.DS_Store
*.swp

# ------------------------------
# Optional C++ outputs
# ------------------------------
*.o
*.log
core


