BasedOnStyle: LLVM
IndentWidth: 2
TabWidth: 2
UseTab: Never
BraceWrapping:
  AfterFunction: false
  AfterClass: false
  AfterControlStatement: false
  AfterNamespace: false
  BeforeElse: true
  BeforeCatch: true
  BeforeFinally: true
